.DS_Store
.idea
*.log
tmp/
.local/
*.elc
eln-cache/

config.el
/history
/places
/tree-sitter/
/init-local.el
/.emacs-colours.el
.emacs-tabspaces-session.el
rails-routes-cache
rake.cache
eca
/transient/
/dape-breakpoints
mason
.cache
